%footer.sign-up-footer
  .footer-contents
    .rules
      = link_to "#" ,style: "text-decoration:none;" do
        .rule プライバシーポリシー
      = link_to "#" ,style: "text-decoration:none;" do
        .rule メルカリ利用規約
      = link_to "#" ,style: "text-decoration:none;" do
        .rule 特定取引に関する表記
    .footer-logo
      = link_to "/" do
        =image_tag "fmarket_logo_white.svg",size: "180x80"
    .copy-right ©️Mercari,inc
