= render  partial: "signup.header"
.signup5-main
  .signup5-main-in
    .signup5-main-top
      .signup5-registration
        会員登録完了
    .signup5-middle
      .signup5-thankyou
        ありがとうございます。
      .signup5-kaiin
        会員登録が完了しました。
      .signup5-start-block
        .signup5-start
          メルカリをはじめる
    = image_tag "sample.jpg",class: "signup5-bottom"
= render  partial: "signup.footer"

