.line-top {
  background-color: #eee;
  height: 1px;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 116px;
}
.gretel-header {
  border-top: 1px #eee solid;
  font-size: 14px;
  margin-top: 10px;
  &__gre {
    margin-top: 10px;
    a {
      color: #333;
      text-decoration: none;
    }
    span {
      font-weight: 700;
    }
  }
}


.gretel-line {
  border-bottom: 1px solid #eee;
  width: 100%;
}
.gretel-item-show {
  width: 1020px;
  padding: 10px 0;
  margin: 0 auto;
  .breadcrumbs {
    text-align: left;
    a {
      text-decoration: none;
      font-size: 12px;
      color: #333;
    }
    span {
      color: #333;
      font-weight: 700;
      font-size: 14px;
    }
  }
}