= render partial: "layouts/toppage-header"
.signout
  = render partial: "/layouts/sidebar" 
  .signout_btn
    .signout_btn__main
      .signout_btn__main__btn
        =link_to destroy_user_session_path, method: :delete, class: "signout_btn__main__btn__link" do
          ログアウト
= render partial: "layouts/toppage-footer" 