.search-main{
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 50px 0;
  &__contensts{
    width: 1020px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    &__left{
      width: 280px;
      height: 100%;
      background-color: white;
      &__said-bar{
        width: 248px;
        margin: 16px;
        height: 800px;
        font-size: 14px;
        &__word{
          margin-top: 24px;
          &__top{        
          }    
          &__search{
            @include form-short;
            width: 228px;
            margin-top: 10px;
          }      
        }
        &__price{
          margin-top: 24px;
          &__top{
          }
          &__search{
            display: flex;
            justify-content: space-between;
            &__min{
              @include form-short;
              width: 90px;
              margin-top: 10px;
            }
            &__space{
              width: 10px;
              height: 40px;
              line-height: 40px;
              margin: 10px 2px 0;
            }
            &__max{
              @include form-short;
              width: 90px;
              margin-top: 10px;
            }          
          }
        }
        &__item-status{
          margin-top: 24px;
          &__checkboxes{
            &__box{
            }
          }
        }
        &__item-status label{
          display: block;
          margin-bottom: 2px;
        }
        &__shipping-fee-defrayer{
          margin-top: 24px; 
        }
        &__staus{
          margin-top: 24px;
        }
        &__submit{
          @include form;
          width: 248px;
          margin-top: 30px;   
          background-color:#ea352d;
          color: white;
        }
        &__shipping-fee-defrayer label{
          display: block;
          margin-bottom: 2px;
        }
      }
    }
    &__right{
      width: calc(100% - 280px - 30px);
      height: 100%;
      margin-left: 30px;
      &__index{
        &__title{
          margin-left: 10px;
        }
        .contents {
          display: flex;
          flex-wrap: wrap;
          .item_link {
            color: black;
            text-decoration: none;
            .search-content {
              @include box(240px, 155px);
              
              margin: 7px 10px 7px 10px;
              box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
              outline-offset: -2px;
                .image {
                  @include box(170px, 100%);
                  position: relative;
                  img {
                    height: 100%;
                    width: 100%;
                  }
                  .sold-label {
                    @include box(50%,50%);
                    position: absolute;
                    top: 0;
                    left: 0;
                    box-sizing: border-box;
                    border-top: 45px solid rgba(252, 15, 15, 0.9);
                    border-left: 45px solid rgba(252, 15, 15, 0.9);
                    border-right: 45px solid transparent;
                    border-bottom: 45px solid transparent;
                  }
                  .sold {
                      position: absolute;
                      top: 0;
                      left: 0;
                      color: white;
                      margin: 10% 5% 5% 5% ;
                      transform: rotate(-45deg);
                      -moz-transform: rotate(-45deg);
                      -webkit-transform: rotate(-45deg);
                      font-weight: bold;
                    }
                  .price {
                    position: absolute;
                    bottom: 20px;
                    padding: 0 7px;
                    background-color: rgba(0,0,0,.4);
                    color: white;
                    border-radius: 0 15px 15px 0;
                    #price {
                      color: white;
                      padding: 0 10px 0 10px;
                    }
                  }
                }           
              .item_name {
                background-color: white;
                height: calc(100% - 170px);
                width: 100%;
              }
            }
          }
        }    
      }
    }
  }
}
