<<<<<<< Updated upstream
%body
  .signin-main
    .signin-header
      %svg.signin-header-logo{viewbox: "0 0 281.19 84.08", xmlns: "http://www.w3.org/2000/svg"}
=======

.header
  %svg.header-logo{viewbox: "0 0 281.19 84.08", xmlns: "http://www.w3.org/2000/svg"}
    %defs
      :css
        .cls-1{fill:#dc4912;stroke:#fff;stroke-miterlimit:10;}.cls-2{font-size:48px;fill:#231815;font-family:YuGo-Bold-83pv-RKSJ-H, YuGothic;}
    %title アセット 3
    %g{"data-name": "レイヤー 2", id: "レイヤー_2"}
      %g{"data-name": "レイヤー 1", id: "レイヤー_1-2"}
        %polygon.cls-1{points: "36.41 83.5 0.5 62.77 0.5 21.31 36.41 0.58 72.32 21.31 72.32 62.77 36.41 83.5"}
        %polyline.cls-1{points: "0.5 21.31 36.41 42.04 72.32 21.31"}
        %polyline.cls-1{points: "36.41 83.5 36.41 49.36 36.41 42.04"}
        %line.cls-1{x1: "36.41", x2: "0.5", y1: "52.41", y2: "31.67"}
        %line.cls-1{x1: "72.32", x2: "36.41", y1: "33.2", y2: "50.88"}
        %text.cls-2{transform: "translate(86.41 62.77)"} Fmarket
.log-in__main
  .acount
    .acount-top
      アカウントをお持ちでない方はこちら
    .sing-up__registration
      .sing-up__new
        新規会員登録
  .facebook-google
    .login__facebook
      .log-in__facebook
        Facebookでログイン
    .login__google
      .log-in__google
        Googleでログイン
    %div
      %form#header_email_form.email_form{"accept-charset": "UTF-8", action: "/items/email", "data-remote": "true", method: "post"}
        %input{name: "utf8", type: "hidden", value: "✓"}/
        %input{name: "authenticity_token", type: "hidden", value: "Gb4Ol3trq6vFCosVD2eTACr7OWtGhfI/L54+pQ7j1D1OSid2cfAz9Dk5ZcX1wVlz0BwBhdRTB7ZZ8lBICRCjpg=="}/
        .email
          %input#header_email.email_input{"aria-label": "email", autocomplete: "off", maxlength: "250", name: "header_email", placeholder: "メールアドレス", type: "text"}/
      %form#header_password_form.password_form{"accept-charset": "UTF-8", action: "/items/password", "data-remote": "true", method: "post"}
        %input{name: "utf8", type: "hidden", value: "✓"}/
        %input{name: "authenticity_token", type: "hidden", value: "Gb4Ol3trq6vFCosVD2eTACr7OWtGhfI/L54+pQ7j1D1OSid2cfAz9Dk5ZcX1wVlz0BwBhdRTB7ZZ8lBICRCjpg=="}/
        .password
          %input#header_password.password_input{"aria-label": "password", autocomplete: "off", maxlength: "250", name: "header_password", placeholder: "パスワード", type: "text"}/
      .robot
      .login
        .log-in
          ログイン
      .pass-word
        パスワードをお忘れの方
    .footer
      .footer-privacy
        .footer-mercari
          プライバシーポリシー    メルカリ利用規約    特定商取引に関する表記
      %svg.footer-logo{height: "80px", viewbox: "0 0 147.09 129.96", width: "180px", x: "0px", xmlns: "http://www.w3.org/2000/svg", y: "0px"}
>>>>>>> Stashed changes
        %defs
          :css
            .cls-3,.cls-4{fill:#231815;stroke-miterlimit:10;opacity:0.19;}.cls-3{stroke:#fff;}.cls-4{font-size:36px;stroke:#231815;font-family:YuGo-Bold-83pv-RKSJ-H, YuGothic;}
        %title アセット 13
        %g{"data-name": "レイヤー 2", id: "レイヤー_2"}
          %g{"data-name": "レイヤー 1", id: "レイヤー_1-2"}
<<<<<<< Updated upstream
            %polygon.cls-1{points: "36.41 83.5 0.5 62.77 0.5 21.31 36.41 0.58 72.32 21.31 72.32 62.77 36.41 83.5"}
            %polyline.cls-1{points: "0.5 21.31 36.41 42.04 72.32 21.31"}
            %polyline.cls-1{points: "36.41 83.5 36.41 49.36 36.41 42.04"}
            %line.cls-1{x1: "36.41", x2: "0.5", y1: "52.41", y2: "31.67"}
            %line.cls-1{x1: "72.32", x2: "36.41", y1: "33.2", y2: "50.88"}
            %text.cls-2{transform: "translate(86.41 62.77)"} Fmarket
    .log-in__main
      .acount
        .acount-top
          アカウントをお持ちでない方はこちら
        .sing-up__registration
          .sing-up__new
            新規会員登録
      .facebook-google
        .login__facebook
          .log-in__facebook
            Facebookでログイン
        .login__google
          .log-in__google
            Googleでログイン
        %div
          %form#header_email_form.email_form{"accept-charset": "UTF-8", action: "/items/email", "data-remote": "true", method: "post"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input{name: "authenticity_token", type: "hidden", value: "Gb4Ol3trq6vFCosVD2eTACr7OWtGhfI/L54+pQ7j1D1OSid2cfAz9Dk5ZcX1wVlz0BwBhdRTB7ZZ8lBICRCjpg=="}/
            .email
              %input#header_email.email_input{"aria-label": "email", autocomplete: "off", maxlength: "250", name: "header_email", placeholder: "メールアドレス", type: "text"}/
          %form#header_password_form.password_form{"accept-charset": "UTF-8", action: "/items/password", "data-remote": "true", method: "post"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input{name: "authenticity_token", type: "hidden", value: "Gb4Ol3trq6vFCosVD2eTACr7OWtGhfI/L54+pQ7j1D1OSid2cfAz9Dk5ZcX1wVlz0BwBhdRTB7ZZ8lBICRCjpg=="}/
            .password
              %input#header_password.password_input{"aria-label": "password", autocomplete: "off", maxlength: "250", name: "header_password", placeholder: "パスワード", type: "text"}/
          .robot
          .login
            .log-in
              ログイン
          .pass-word
            パスワードをお忘れの方
        .signin-footer
          .signin-footer-mercari
            %p.signin-privacy プライバシーポリシー
            %p.signin-mercari メルカリ利用規約
            %p.signin-tokutei 特定商取引に関する表記
        %svg.signin-footer-logo{height: "80px", viewbox: "0 0 147.09 129.96", width: "180px", x: "0px", xmlns: "http://www.w3.org/2000/svg", y: "0px"}
          %defs
            :css
              .cls-3,.cls-4{fill:#231815;stroke-miterlimit:10;opacity:0.19;}.cls-3{stroke:#fff;}.cls-4{font-size:36px;stroke:#231815;font-family:YuGo-Bold-83pv-RKSJ-H, YuGothic;}
          %title アセット 13
          %g{"data-name": "レイヤー 2", id: "レイヤー_2"}
            %g{"data-name": "レイヤー 1", id: "レイヤー_1-2"}
              %polygon.cls-3{points: "71.54 83.5 35.63 62.77 35.63 21.31 71.54 0.58 107.45 21.31 107.45 62.77 71.54 83.5"}
              %polyline.cls-3{points: "35.63 21.31 71.54 42.04 107.45 21.31"}
              %polyline.cls-3{points: "71.54 83.5 71.54 49.36 71.54 42.04"}
              %line.cls-3{x1: "71.54", x2: "35.63", y1: "52.41", y2: "31.67"}
              %line.cls-3{x1: "107.45", x2: "71.54", y1: "33.2", y2: "50.88"}
              %text.cls-4{transform: "translate(0.5 117.04)"} Fmarket
        .mercari
          ©
          .mercari2
            Mercari, Inc.
=======
            %polygon.cls-3{points: "71.54 83.5 35.63 62.77 35.63 21.31 71.54 0.58 107.45 21.31 107.45 62.77 71.54 83.5"}
            %polyline.cls-3{points: "35.63 21.31 71.54 42.04 107.45 21.31"}
            %polyline.cls-3{points: "71.54 83.5 71.54 49.36 71.54 42.04"}
            %line.cls-3{x1: "71.54", x2: "35.63", y1: "52.41", y2: "31.67"}
            %line.cls-3{x1: "107.45", x2: "71.54", y1: "33.2", y2: "50.88"}
            %text.cls-4{transform: "translate(0.5 117.04)"} Fmarket
      .mercari
        ©
        .mercari2
          Mercari, Inc.
>>>>>>> Stashed changes
