= render partial: "layouts/toppage-header"
.search-main
  .search-main__contensts
    .search-main__contensts__left    
      .search-main__contensts__left__said-bar
        あ
      

    .search-main__contensts__right
      .search-main__contensts__right__index
        .search-main__contensts__right__index__title
          = @keyword + "の検索結果"
        = render partial: "items/item_index"

= render partial: "layouts/toppage-footer"