<% 3.times do %>
  <div class="itemshow__top__box">
    <%= link_to "#" do %>
      <%= image_tag "sample.jpg", class: :"itemshow__top__box__image" %>
      <h1 class="itemshow__top__box__desc">商品名<h1>
        <ul class="itemshow__top__box__desc__detail">
          <li class="itemshow__top__box__desc__detail__price">¥1,700</li>
    <% end %>
        <li>
          <%= link_to "#", class: :"itemshow__top__box__desc__detail__icon" do %>
            <i class="far fa-heart itemshow__top__box__desc__detail__icon__btn"></i>
          <% end %>
        </li>
  </div>
<% end %>