
.logout-main
  .logout-header
  .logout-block
    .logout-my
      .logout-my2
        .logout-my-font
          マイページ
      .logout-my-y
        .logout-my-y2
          ›
    .logout-list
      .logout-list2
        .logout-list-font
          お知らせ
      .logout-list-y
        .logout-list-y2
          ›
    .logout-list
      .logout-list2
        .logout-list-font
          やることリスト
      .logout-list-y
        .logout-list-y2
          ›
    .logout-ok
      .logout-ok2
        .logout-ok-font
          いいね！一覧
      .logout-ok-y
        .logout-ok-y2
          ›
    .logout-in
      .logout-in2
        .logout-in-font
          出品する
      .logout-in-y
        .logout-in-y2
          ›
    .logout-buyin
      .logout-buyin2
        出品した商品 - 出品中
        .logout-buyin-font
      .logout-buyin-y
        .logout-buyin-y2
          ›
    .logout-torihiki
      .logout-torihiki2
        出品した商品 - 取引中
        .logout-torihiki-font
      .logout-torihiki-y
        .logout-torihiki-y2
          ›
    .logout-baikyaku
      .logout-baikyaku2
        出品した商品 - 売却済み
        .logout-baikyaku-font
      .logout-baikyaku-y
        .logout-baikyaku-y2
          ›
    .logout-torihikiin
      .logout-torihikiin2
        購入した商品 - 取引中
        .logout-torihikiin-font
      .logout-torihikiin-y
        .logout-torihikiin-y2
          ›
    .logout-buykako
      .logout-buykako2
        購入した商品 - 過去の取引
        .logout-buykako-font
      .logout-buykako-y
        .logout-buykako-y2
          ›
    .logout-news
      .logout-news2
        .logout-news-font
          ニュース一覧
      .logout-news-y
        .logout-news-y2
          ›
    .logout-hyouka
      .logout-hyouka2
        .logout-hyouka-font
          評価一覧
      .logout-hyouka-y
        .logout-hyouka-y2
          ›
    .logout-guide
      .logout-guide2
        .logout-guide-font
          ガイド
      .logout-guide-y
        .logout-guide-y2
          ›
    .logout-toiawase
      .logout-toiawase2
        .logout-roiawase-font
          お問い合わせ
      .logout-toiawase-y
        .logout-toiawase-y2
          ›
  .logout-merupei
    メルペイ
  .logout-block-middle
    .logout-nokori
      .logout-nokori2
        .logout-nokori-font
          残高・振込申請
      .logout-norikori-y
        .logout-norikori-y2
          ›
    .logout-point
      .logout-point2
        .logout-point-font
          ポイント
      .logout-point-y
        .logout-point-y2
          ›
  .logout-settei
    設定
  .logout-block-bottom
    .logout-profile
      .logout-profile2
        .logout-profile-font
          プロフィール
      .logout-profile-y
        .logout-profile-y2
          ›
    .logout-address
      .logout-address2
        発送元・お届け先住所変更
        .logout-address-font
      .logout-address-y
        .logout-address-y2
          ›
    .logout-pay
      .logout-pay2
        .logout-pay-font
          支払い方法
      .logout-pay-y
        .logout-pay-y2
          ›
    .logout-mail
      .logout-mail2
        メール/パスワード
        .logout-mail-font
      .logout-mail-y
        .logout-mail-y2
          ›
    .logout-information
      .logout-information2
        .logout-information-font
          本人情報
      .logout-information-y
        .logout-information-y2
          ›
    .logout-tel
      .logout-tel2
        .logout-tel-font
          電話番号の確認
      .logout-tel-y
        .logout-tel-y2
          ›
    .logout
      .logout2
        .logout-font
          ログアウト
      .logout-y
        .logout-y2
          ›
  .logout-footer
