.sideber  
  .white-box-top
    .sideber-tab
      %p.sideber-list マイページ
      .sideber-y
        .sideber-y2
          ›
    .sideber-tab
      %p.sideber-list お知らせ
      .sideber-y
        .sideber-y2
          ›
    .sideber-tab
      %p.sideber-list  やることリスト
      .sideber-y
        .sideber-y2
          ›
    .sideber-tab
      %p.sideber-list  いいね！一覧
      .sideber-y
        .sideber-y2
          ›
    .sideber-tab
      %p.sideber-list 出品する
      .sideber-y
        .sideber-y2
          ›
    .sideber-tab
      %p.sideber-list  出品した商品 - 出品中
      .sideber-y
        .sideber-y2
          ›
    .sideber-tab
      %p.sideber-list  出品した商品 - 取引中
      .sideber-y
        .sideber-y2
          ›
    .sideber-tab
      %p.sideber-list  出品した商品 - 売却済み
      .sideber-y
        .sideber-y2
          ›
    .sideber-tab
      %p.sideber-list  購入した商品 - 取引中
      .sideber-y
        .sideber-y2
          ›
    .sideber-tab
      %p.sideber-list  購入した商品 - 過去の取引
      .sideber-y
        .sideber-y2
          ›
    .sideber-tab
      %p.sideber-list  ニュース一覧
      .sideber-y
        .sideber-y2
          ›
    .sideber-tab
      %p.sideber-list  評価一覧
      .sideber-y
        .sideber-y2
          ›
    .sideber-tab
      %p.sideber-list  ガイド
      .sideber-y
        .sideber-y2
          ›
    .sideber-tab
      %p.sideber-list  お問い合わせ
      .sideber-y
        .sideber-y2
          ›
  .sideber-box
    %p.sideber-merupei  メルペイ
    .white-box-middle
      .sideber-tab
        %p.sideber-list  残高・振込申請
        .sideber-y
          .sideber-y2
            ›
      .sideber-tab
        %p.sideber-list  ポイント
        .sideber-y
          .sideber-y2
            ›
  .sideber-box2
    %p.sideber-merupei  設定
    .white-box-bottom
      .sideber-tab
        %p.sideber-list  プロフィール
        .sideber-y
          .sideber-y2
            ›
      .sideber-tab
        %p.sideber-list  発送元・お届け先住所変更
        .sideber-y
          .sideber-y2
            ›
      .sideber-tab
        %p.sideber-list  支払い方法
        .sideber-y
          .sideber-y2
            ›
      .sideber-tab
        %p.sideber-list  メール/パスワード
        .sideber-y
          .sideber-y2
            ›
      .sideber-tab
        %p.sideber-list  本人情報
        .sideber-y
          .sideber-y2
            ›
      .sideber-tab
        %p.sideber-list  電話番号の確認
        .sideber-y
          .sideber-y2
            ›
      .sideber-tab
        %p.sideber-list  ログアウト
        .sideber-y
          .sideber-y2
            ›