<aside class="banner">
  <div class="banner-image">
  </div>
</aside>
  <footer class="footer">
    <div class="footer-lists">
      <div class="footer-lists-cell">
        <h2 class="footer-lists-cell-head">メルカリについて</h2>
        <ul class="footer-lists-cell-texts">
          <li class="footer-lists-cell-texts-1"><a href="#" class="t">会社概要（運営会社)</a></li>
          <li class="footer-lists-cell-texts-1"><a href="#" class="t">採用情報</a></li>
          <li class="footer-lists-cell-texts-1"><a href="#" class="t">プレスリリース</a></li>
          <li class="footer-lists-cell-texts-1"><a href="#" class="t">公式ブログ</a></li>
          <li class="footer-lists-cell-texts-1"><a href="#" class="t">メルカリロゴ利用ガイドライン</a></li>
            <a href="https://twitter.com/mercari_jp" target="_blank" class="footer-lists-cell-texts-twitter-logo" >
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/mercarijp" target="_blank" class="facebook-logo">
              <i class="fab fa-facebook-square"></i>
            </a>
        </ul>
      </div>
      <div class="footer-lists-cell">
        <h2 class="footer-lists-cell-head">ヘルプ＆ガイド</h2>
          <ul class="footer-lists-cell-texts">
            <li class="footer-lists-cell-texts-1"><a href="#" class="t">らくらくメルカリ便</a></li>
            <li class="footer-lists-cell-texts-1"><a href="#" class="t">ゆうゆうメルカリ便</a></li>
            <li class="footer-lists-cell-texts-1"><a href="#" class="t">大型メルカリ便</a></li>
            <li class="footer-lists-cell-texts-1"><a href="#" class="t">車体取引ガイド</a></li>
            <li class="footer-lists-cell-texts-1"><a href="#" class="t">メルカリあんしん・あんぜん宣言！</a></li>
            <li class="footer-lists-cell-texts-1"><a href="#" class="t">偽ブランド品撲滅への取り組み</a></li>
            <li class="footer-lists-cell-texts-1"><a href="#" class="t">メルカリボックス</a></li>
          </ul>
      </div> 
      <div class="footer-lists-full-width">
        <h2 class="footer-lists-full-width-head">プライバシーと利用規約</h2>
        <div class="footer-lists-full-width-boxes">
          <div class="footer-lists-full-width-boxes-inner">
            <ul class="footer-lists-cell-texts">
              <li class="footer-lists-cell-texts-1"><a href="#" class="t">プライバシーポリシー</a></li>
              <li class="footer-lists-cell-texts-1"><a href="#" class="t">メルカリ利用規約</a></li>
              <li class="footer-lists-cell-texts-1"><a href="#" class="t">あんしんスマホサポート制度に関する利用特約</a></li>
              <li class="footer-lists-cell-texts-1"><a href="#" class="t">コンプライアンスポリシー</a></li>
            </ul>
          </div>
          <div class="footer-lists-full-width-boxes-inner">
            <ul class="footer-lists-cell-texts">
              <li class="footer-lists-cell-texts-1"><a href="#" class="t">個人データの安全管理に係る基本方針</a></li>
              <li class="footer-lists-cell-texts-1"><a href="#" class="t">特定商取引に関する表記</a></li>
              <li class="footer-lists-cell-texts-1"><a href="#" class="t">資金決済法に基づく表示</a></li>
              <li class="footer-lists-cell-texts-1"><a href="#" class="t">法令順守と犯罪抑止のために</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-lists-footer-lang">
        <h2 class="footer-lists-footer-lang-head">国</h2>
        <ul class="footer-lists-cell-texts">
          <li class="footer-lists-cell-texts-1"><a href="#" class="t">日本</a></li>
          <li class="footer-lists-cell-texts-1"> <a href="#" class="t">United States</a></li>
        </ul>
      </div>
    </div>
