<div class='slide'></div>

<div class='categoly_tags'>
  <div></div>
  <div class='tags'>
    <div class='tag'></div>
    <div class='tag'></div>
    <div class='tag'></div>
    <div class='tag'></div>
  </div>
</div>



<%# 部分テンプレ %>
<div class='block'>
  <div class='block_top'>
    <div class='item_categoly'>
      新着アイテム
    </div>
    <div class='more'>
      もっとみる　＞
    </div>
  </div>
  <div class='contents'>
    <div class='content'>
      <img src="">
      <div class='item_name'></div>
      <div class='price'></div>
    </div>


    <div class='content'>
    </div>
    <div class='content'>
    </div>
    <div class='content'>
    </div>
    <div class='content'>
    </div>
    <div class='content'>
    </div>
    <div class='content'>
    </div>
    <div class='content'>
    </div>
    <div class='content'>
    </div>
    <div class='content'>
    </div>
  </div>

</div>

<%# 部分テンプレここまで %>