
<div class='main'>
  <div class='slide'><h1>スライド部bん</h1></div>

  <div class='category_tags'>
    <div>人気のカテゴリー</div>
    <div class='tags'>
      <div class='tag'>ナチュラる</div>
      <div class='tag'>ハロー</div>
      <div class='tag'>ワールド</div>
      <div class='tag'>アタッっく</div>
    </div>
  </div>




  <div class='block'>
    <div class='block_top'>
      <div class='item_categoly'>
        新着アイテム
      </div>
      <div class='more'>
        もっとみる　＞
      </div>
    </div>
    
      <div class='contents'>
      <% 50.times do%>
        <div class='content'>
          <img src="">
          <div class='item_name'></div>
          <div class='price'></div>
        </div>
      <% end%>
      </div>
    
      
  </div>
</div>

