

<div class='main'>
  <div class='slide'><h1>スライド部bん</h1></div>

  <div class='category_tags'>
    <div>人気のカテゴリー</div>
    <div class='tags'>
      <div class='tag'>タグ１</div>
      <div class='tag'>タグ２</div>
      <div class='tag'>タグ３</div>
      <div class='tag'>タグ４</div>
    </div>
  </div>




  <div class='block'>
    <div class='block_top'>
      <div class='item_categoly'>
        新着アイテム
      </div>
      <div class='more'>
        もっとみる　＞
      </div>
    </div>
    
      <div class='contents'>
      <% 50.times do%>
        <div class='content'>
          <div class='image'>
          <img src="https://cdn.pixabay.com/photo/2019/11/20/01/06/swimming-pool-4638912_1280.jpg">
          </div>
          
          <div class='item_name'>ハリケーン</div>
          <div class='price'></div>
        </div>
      <% end%>
      </div>
    
      
  </div>
</div>


