<body>
  <div class="logout-main">
    <div class="logout-header">
    </div>
    <div class="logout-block">
      <div class="logout-my">
        <div class="logout-my2">
          <div class="logout-my-font">
          マイページ
          </div>
        </div>
        <div class="logout-my-y">
          <div class="logout-my-y2">
          &rsaquo;
          </div>      
        </div>
      </div>
      <div class="logout-osirase">
        <div class="logout-osirase2">
          <div class="logout-osirase-font">
          お知らせ
          </div>
        </div>
        <div class="logout-osirase-y">
          <div class="logout-osirase-y2">
          &rsaquo;
          </div>
        </div>
      </div>
      <div class="logout-list">
        <div class="logout-list2">
          <div class="logout-list-font">
          やることリスト
          </div>
        </div>
        <div class="logout-list-y">
          <div class="logout-list-y2">
          &rsaquo;
          </div>
        </div>
      </div>
      <div class="logout-ok">
        <div class="logout-ok2">
          <div class="logout-ok-font">
          いいね！一覧
          </div>
        </div>
        <div class="logout-ok-y">
          <div class="logout-ok-y2">
          &rsaquo;
          </div>
        </div>
      </div>
      <div class="logout-in">
        <div class="logout-in2">
          <div class="logout-in-font">
          出品する
          </div>
        </div>
        <div class="logout-in-y">
          <div class="logout-in-y2">
          &rsaquo;
          </div>
        </div>
      </div>
      <div class="logout-buyin">
        <div class="logout-buyin2">
        出品した商品 - 出品中
          <div class="logout-buyin-font">
          </div>
        </div>
        <div class="logout-buyin-y">
          <div class="logout-buyin-y2">
          &rsaquo;
          </div>
        </div>
      </div>
      <div class="logout-torihiki">
        <div class="logout-torihiki2">
        出品した商品 - 取引中
          <div class="logout-torihiki-font">
          </div>
        </div>
        <div class="logout-torihiki-y">
          <div class="logout-torihiki-y2">
          &rsaquo;
          </div>
        </div>
      </div>
      <div class="logout-baikyaku">
        <div class="logout-baikyaku2">
        出品した商品 - 売却済み
          <div class="logout-baikyaku-font">
          </div>
        </div>
        <div class="logout-baikyaku-y">
          <div class="logout-baikyaku-y2">
          &rsaquo;
          </div>
        </div>
      </div>
      <div class="logout-torihikiin">
        <div class="logout-torihikiin2">
        購入した商品 - 取引中
          <div class="logout-torihikiin-font">
          </div>
        </div>
        <div class="logout-torihikiin-y">
          <div class="logout-torihikiin-y2">
          &rsaquo;
          </div>
        </div>
      </div>
      <div class="logout-buykako">
        <div class="logout-buykako2">
        購入した商品 - 過去の取引
          <div class="logout-buykako-font">
          </div>
        </div>
        <div class="logout-buykako-y">
          <div class="logout-buykako-y2">
          &rsaquo;
          </div>
        </div>
      </div>
      <div class="logout-news">
        <div class="logout-news2">
          <div class="logout-news-font">
          ニュース一覧
          </div>
        </div>
        <div class="logout-news-y">
          <div class="logout-news-y2">
          &rsaquo;
          </div>
        </div>
      </div>
      <div class="logout-hyouka">
        <div class="logout-hyouka2">
          <div class="logout-hyouka-font">
          評価一覧
          </div>
        </div>
        <div class="logout-hyouka-y">
          <div class="logout-hyouka-y2">
          &rsaquo;
          </div>
        </div>
      </div>
      <div class="logout-guide">
        <div class="logout-guide2">
          <div class="logout-guide-font">
          ガイド
          </div>
        </div>
        <div class="logout-guide-y">
          <div class="logout-guide-y2">
          &rsaquo;
          </div>
        </div>
      </div>
      <div class="logout-toiawase">
        <div class="logout-toiawase2">
          <div class="logout-roiawase-font">
          お問い合わせ
          </div>
        </div>
        <div class="logout-toiawase-y">
          <div class="logout-toiawase-y2">
          &rsaquo;
          </div>
        </div>
      </div>
    </div>
    <div class="logout-merupei">
    メルペイ
    </div>
    <div class="logout-block-middle">
      <div class="logout-nokori">
        <div class="logout-nokori2">
          <div class="logout-nokori-font">
          残高・振込申請
          </div>
        </div>
        <div class="logout-norikori-y">
          <div class="logout-norikori-y2">
          &rsaquo;
          </div>
        </div>
      </div>
      <div class="logout-point">
        <div class="logout-point2">
          <div class="logout-point-font">
          ポイント
          </div>
        </div>
        <div class="logout-point-y">
          <div class="logout-point-y2">
          &rsaquo;
          </div>
        </div>
      </div>
    </div>
    <div class="logout-settei">  
    設定
    </div>
    <div class="logout-block-bottom">
      <div class="logout-profile">
        <div class="logout-profile2">
          <div class="logout-profile-font">
          プロフィール
          </div>
        </div>
        <div class="logout-profile-y">
          <div class="logout-profile-y2">
          &rsaquo;
          </div>
        </div>
      </div>
      <div class="logout-address">
        <div class="logout-address2">
        発送元・お届け先住所変更
          <div class="logout-address-font">
          </div>
        </div>
        <div class="logout-address-y">
          <div class="logout-address-y2">
          &rsaquo;
          </div>
        </div>
      </div>
      <div class="logout-pay">
        <div class="logout-pay2">
          <div class="logout-pay-font">
          支払い方法
          </div>
        </div>
        <div class="logout-pay-y">
          <div class="logout-pay-y2">
          &rsaquo;
          </div>
        </div>
      </div>
      <div class="logout-mail">
        <div class="logout-mail2">
        メール/パスワード
          <div class="logout-mail-font">
          </div>
        </div>
        <div class="logout-mail-y">
          <div class="logout-mail-y2">
          &rsaquo;
          </div>
        </div>
      </div>
      <div class="logout-information">
        <div class="logout-information2">
          <div class="logout-information-font">
          本人情報
          </div>
        </div>
        <div class="logout-information-y">
          <div class="logout-information-y2">
          &rsaquo;
          </div>
        </div>
      </div>
      <div class="logout-tel">
        <div class="logout-tel2">
          <div class="logout-tel-font">
          電話番号の確認
          </div>
        </div>
        <div class="logout-tel-y">
          <div class="logout-tel-y2">
          &rsaquo;
          </div>
        </div>
      </div>
      <div class="logout">
        <div class="logout2">
          <div class="logout-font">
          ログアウト
          </div>
        </div>
        <div class="logout-y">
          <div class="logout-y2">
          &rsaquo;
          </div>
        </div>
      </div>
    </div>
    <div class="logout-footer">
    </div>
  </div>
  

</body>