<body>
  <header>
    <div class= brand>
      <div class= brand__icon>
      ロゴ
      </div>
      <div class= brand__name>
      mercari
      </div>
    </div>
  </header>
  <main class=sign-up>
    <div class= sign-up__top>
    新規会員登録
    </div>
    <div class= sign-up__bottom>
      <div>
      <div>メールロゴ</div>
      <div>メールアドレスで登録する</div>
      </div>
      <div>Facebookで登録する</div>
      <div>Googleで登録する</div>
    </div>
  </main>
  <footer>
    <div>
      <div>プライバシーポリシー</div>
      <div>メルカリ利用規約</div>
      <div>特定取引に関する表記</div>
    </div>
    <div>
      <div>ロゴ</div>
      <div>mercari</div>
    </div>
    <div>2019 Mercari</div>
  </footer>
</body>