<body>
  <header class= sign-up-header>
    <div class= head-logo>
      <div class= head-logo__icon>
      ロゴ
      </div>
      <div class= head-logo__text>
      mercari
      </div>
    </div>
  </header>
  <div class= sign-up-main>
    <div class= sign-up-area>
      <div class= sign-up-area-top>
      新規会員登録
      </div>
      <div class= sign-up-area-bottom>   
        <div class= sign-up-btn>
          <div class= sign-up-btn__icon>Mロゴ</div>
          <div class= sign-up-btn__text>メールアドレスで登録する</div>
        </div>
        <div class= sign-up-btn>
          <div class= sign-up-btn__icon>Fロゴ</div>
          <div class= sign-up-btn__text>Facebookで登録する</div>
        </div>
        <div class= sign-up-btn>
          <div class= sign-up-btn__icon>Gロゴ</div>
          <div class= sign-up-btn__text>Googleで登録する</div>
        </div>
      </div>
    </div>
  </div>
  <footer class= sign-up-footer>
    <div class= rules>
      <div class= rule>プライバシーポリシー</div>
      <div class= rule>メルカリ利用規約</div>
      <div class= rule>特定取引に関する表記</div>
    </div>
    <div class= foot-logo>
      <div class= foot-logo__icon>ロゴ</div>
      <div class= foot-logo__text>mercari</div>
    </div>
    <div class=copy-right>@2019 Mercari</div>
  </footer>
</body>