<body>
  <div class="signup5-main">
    <div class="signup5-main-in">
      <div class="signup5-main-top">
        <div class="signup5-registration">
        会員登録完了
      </div>
    </div>
    <div class="signup5-middle">
      <div class="signup5-thankyou">
      ありがとうございます。
      </div>
      <div class="signup5-kaiin">
      会員登録が完了しました。
      </div>
      <div class="signup5-start-block">
        <div class="signup5-start">
        メルカリをはじめる
        </div>
      </div>
    </div>
    <%= image_tag "sample.jpg",class: "signup5-bottom" %>
    </div>
  </div>
</body>