<%# <%= render  partial: "signup.header"%>
<div class="signout">
  <div class="signout__main">
    <div class="signout__main__btn">
      <a href="#" class="signout__main__btn__link">ログアウト</a>
    </div>
  </div>
</div>