.ex-footer {
  height: 230px;
  background-color: $around-color;
  display: flex;
  justify-content: center;
  align-items: center;
  .ex-footer-logo {
    display: flex;
    justify-content: center;
  }
  .ex-copyright {
    display: flex;
    justify-content: center;
  }

}
