.white-box-top {
  background-color: white;
  height: 685px;
  width: 280px;
  margin-left: 210px;
  margin-top: 100px;
}
.sideber-list {
  padding-left: 16px;
  padding-top: 17px;
  margin-right: 30px;
}
    .sideber-tab {
      border-bottom: 1px solid #f5f5f5;
      font-size: 15px;
      height: 48px;
      width: 280px;
      line-height: 16px;
    }
    .sideber-y {
      font-size: 40px;
      bottom: 5px;
      padding-left: 250px;
    }
    .sideber-y2 {
      color: rgb(201, 198, 198);
      margin-top: -20px;
    }
    .sideber-tab:hover {
      background-color: rgb(245, 245, 245);
    
    }
    .sideber-y2:hover {
      color: black;
      transition: .4s;
      padding-left: 0.1em;
    }
    .sideber-tab:hover {
      color: black;
      transition: .4s;
      padding-left: 0.3em;
    }

    .sideber-box {
      width: 280px;
      margin-top: 40px;
      margin-left: 210px; 
    }
    .sideber-merupei {
      font-weight: bold;
    }
    .white-box-middle {
      background-color: white;
      height: 96px;
      width: 280px;
    }


    .sideber-box2 {
      width: 280px;
      margin-top: 40px;
      margin-left: 210px; 
      margin-bottom: 40px;
    }
    .white-box-bottom {
      background-color: white;
      height: 342px;
      width: 280px;
    }