.sign-up-main{
  height: 386px;
  width: 100%;
  background-color: #f5f5f5;
  .sign-up-area{
    height: 400px;
    width: 700px;
    margin: 0 auto;
    .sign-up-area-top{
      height: 100px;
      background-color: white;
      text-align: center;
      line-height: 100px;
      font-size: 22px;
    }
    .sign-up-area-bottom{
      height: 264px;
      width: 700px;
      margin: 0 auto;
      border-top: solid 1px #f5f5f5;
      padding: 20px 0 0 0;
      background-color: white;
      .sign-up-btn-mail{
        background-color:#ea352d;
        width: 340px;
        height: 50px;
        margin: 0 auto 15px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: white;
        &__icon{
          font-size: 20px;
          margin-left: 15px;
        }
        &__text{
          margin-left: 50px;
        }
      }
      .sign-up-btn-fb{
        @include facebook-btn;
      }
      .sign-up-btn-google{
        @include google-btn;
      }
    }
  }
}

.sign-up-btn__text{
  margin: 0 auto;
}