.sign-up-footer{
  height: calc(100vh - 518px);
  width: 100%;
  background: rgb(247, 247, 247);
  overflow: hidden;
  .footer-contents{
    margin: auto;
    width: 400px;
    margin: 40px auto;
    text-align: center;

    .rules{
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 400px;
      color: black;
      .rule{
        font-size: 12px;
        text-decoration: none;
        color: black;
      }
    }
    .footer-logo{
      height: 80px;
      margin-top: 20px;
    }
    .copy-right{
      height: 10px;
      margin: 0 auto;
      font-size: 12px;
    }
  }
}
