.post-singnup1-main{
  width:700px;
  // height: 1225px;
  background-color: white;
  margin:0 auto;
  &__top{
    width: 700px;
    height: 100px;
    border-bottom:solid 1px lightgrey;
    line-height: 100px;
    font-size: 22px;
    text-align: center;
  }
  &__bottom{
    &__form{
      margin: 0 auto;
      width: 322px;
    }
    .post-singnup1-nickname{
      margin-top: 40px;
      &__title{
        display: flex;
        font-size: 14px;
        &__must{   
          @include essential_icon() 
        }
      }
      .post-singnup1-nickname__form{
        @include form();
      }
    }
    .post-singnup1-email{
      margin-top: 20px;
      &__title{
        display: flex;
        font-size: 14px;
        &__must{  
          @include essential_icon()        
        }
      }
      &__form{
        @include form();
      }
    }

    .post-singnup1-password{
      margin-top: 20px;
      &__title{
        display: flex;
        font-size: 14px;
        &__must{   
          @include essential_icon()       
        }
      }
      &__form{
        @include form();    
      }
      &__notice{
        font-size: 14px;
        color: rgb(161, 160, 160);
        margin-top: 10px;
      }
      &__indication{
        margin-top: 10px;
        &__label{
          font-size: 14px;
        }
      }
    }
    .post-singnup1-identification{
      &__h{
        margin-top: 20px;
      }
      &__text{
        margin-top: 10px;
        font-size: 13px;
      }    
    }
    .post-singnup1-name-kanji{
      margin-top: 20px;
      &__title{
        display: flex;
        font-size: 14px;
        &__must{
          @include essential_icon()          
        }
      }
      &__form{
        margin-top: 5px;
        display: flex;
        &__family_name{
          @include form-short();
        }
        &__first_name{
          @include form-short();
          margin-left: 10px;
        }
      }
    }
    .post-singnup1-name-kana{
      margin-top: 20px;
      &__title{
        display: flex;
        font-size: 14px;
        &__must{ 
          @include essential_icon()         
        }
      }
      &__form{
        margin-top: 5px;
        display: flex;
        &__family_name{
          @include form-short();
        }
        &__first_name{
          @include form-short();
          margin-left: 10px;
        }
      }
    } 
    .post-singnup1-birthday{
      margin-top: 20px;
      &__title{
        display: flex;
        font-size: 14px;
        &__must{ 
          @include essential_icon()         
        }
      }
      &__form{
        display: flex;
        margin-top: 5px;
        &__select{
          @include select-short
        }
        &__date{
          font-size: 14px;
          line-height: 40px;
          margin: 0 8px;
        }
      }
      &__notice{
        margin-top: 10px;
        font-size: 12px;
        color: rgb(161, 160, 160);
      }
    }


    .post-singnup1-captcha{
      margin-top: 30px;
      width: 250px;
      height: 80px;
      border: solid 1px gray;
      background-color: rgb(233, 232, 232);
    }
    .post-singnup1-agreement{
      margin-top: 30px;
      font-size: 13px;
      &__link{
        color: #0099e8;
        text-decoration:none;
      }
    }
    .post-singnup1-next{
      &__link{
        @include redlink_btn;
      }
    }
    .post-singnup1-about-registration{
      padding-bottom: 30px;
      margin-top: 30px;
      float: right;
      font-size: 12px;
      &__link{
        color: #0099e8;
        text-decoration:none;
      }
    }  
  }
}