.signout{
  display: flex;
  justify-content: center;
  &__main{
    background-color: white;
    width: 560px;
    height: 200px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    &__btn{      
      @include redlink_btn;
      margin-top: 70px;
      height: 55px;
      &__link{
        text-decoration: none;
        color:white;
        line-height: 55px;
      }
    }
  }
}