.sign-up-header{
  height: 128px;
  width: 100%;
  background-color: rgb(247, 247, 247);
  overflow: hidden;
  .head-logo{
    height: 50px;
    width: 185px;
    margin: 40px auto ;
    background-color:rgb(247, 247, 247);
  }
}