.header {
  position: relative;
  background-color:rgb(255, 255, 255);
  box-shadow: rgba(0,0,0,0.18)0px 2px 0px;
  height: auto;
  padding-bottom: 10px;
  z-index: 3;
  width: 100vw;
  &-lists {
    width: 900px;
    margin-left: 350px;
    padding: 10px 0px 0px;
    &-top {
      display: flex;
      width: 100%;
      padding-left: 40px;
      &-left {
        display: flex;
        height: 40px;
        margin-right: 45px;
        &-logo {
          height: 40px;
          width: 150px;
        }
      }
      &-navbar {
        border: 1px solid rgb(200,200,200);
        height: 36px;
        width: 600px;
        background-color: #f5f5f5;
        border-radius: 4px;
        position: relative;
        padding: 0px 50px 0px 10px;
        &-form {
          &-search {
            margin-top: 4px;
            background-color: #f5f5f5;
            font-size: 16px;
            width: 100%;
            border: none;
            outline: none;
            padding: 0px 50px 0px 10px;
            &-button {
              background-color: rgb(245, 245, 245);
              cursor: pointer;
              height: 36px;
              width: 36px;
              position: absolute;
              right: 2px;
              top: 0px;
              border: none;
            }
          }
        }
      }
    }
    &-low { 
      width: 900px;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      &-left {
        display: flex;
        font-weight: bold;
        line-height: 36px;
        font-size: 14px;
        margin-left: 45px;
        &-categorybox {
          .category {
            color: rgb(34, 34, 34);
            text-decoration: none;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -o-transition: 0.2s;
            -ms-transition: 0.2s;
            transition: 0.2s;
          }
          .category:hover{
            color: rgb(0, 162, 255);
          }
        }
        &-brandbox {
          margin-left: 20px;
          padding-left: 0px 10px;
          .brand{
            color: rgb(34, 34, 34);
            text-decoration: none;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -o-transition: 0.2s;
            -ms-transition: 0.2s;
            transition: 0.2s;
          }
          .brand:hover{
            color: rgb(0, 162, 255);
          }
        }
      }
      &-right {
        display: flex;
        text-align: center;
        font-size: 14px;
        &-newmenberbox {
          .newmember{
            background-color: rgb(234, 53, 45);
            color: rgb(255,255,255);
            display: block;
            border-radius: 4px;
            padding: 7px 10px;
            text-decoration: none;
          }
        }
        &-loginbox {
          margin-left: 11px;
          .login {
            color: rgb(0, 149, 238);
            display: block;
            border: 1px solid rgb(0, 149, 238);
            border-radius: 4px;
            padding: 6px 10px;
            text-decoration: none;
          }
        }
      }
      &-login-right {
        display: flex;
        text-align: center;
        font-size: 17px;
        &-like_box{
          padding-left: 0;
        }
          .like{
            text-decoration: none;
            color: black;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -o-transition: 0.2s;
            -ms-transition: 0.2s;
            transition: 0.2s;
          }
          .like:hover{
            color: rgb(0, 162, 255);
          }
        &-notice_box{
          padding: 0 14px;
        }
          .notice{
            text-decoration: none;            
            color: black;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -o-transition: 0.2s;
            -ms-transition: 0.2s;
            transition: 0.2s;
          }
          .notice:hover{
            color: rgb(0, 162, 255);
          }
        &-todo_box{
          padding: 0 14px;
          .todo{
            text-decoration: none;
            color: black;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -o-transition: 0.2s;
            -ms-transition: 0.2s;
            transition: 0.2s;
          }
          .todo:hover{
            color: rgb(0, 162, 255);
          }
        }
        &-mypage_box{
          padding-right: 0;
          .mypage{
            text-decoration: none;
            color: black;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -o-transition: 0.2s;
            -ms-transition: 0.2s;
            transition: 0.2s;
          }
          .mypage:hover{
            color: rgb(0, 162, 255);
          }
        }
      }
    }
  }
}
