.banner {
  margin-top: auto;
  width: 100%;
  height: 70px;
  background-color: red;
}
.footer {
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 0px 200px 0px 200px;
  display: block;
  box-sizing: border-box;
  bottom: 0;
<<<<<<< Updated upstream
  height: auto;
  &-lists {
    width: 1020px;
=======
<<<<<<< Updated upstream
  height: 100%;
  &-lists{
    width: 1700px;
=======
  height: auto;
  &-lists {
    width: 1020px;
>>>>>>> Stashed changes
>>>>>>> Stashed changes
    display: flex;
    &-cell{
      padding: 0px 40px 0px 0px;
      padding-left: 0px;
      display: inline-block;
      margin-top: 18px;
<<<<<<< Updated upstream
      width: auto;
      &-head {
=======
<<<<<<< Updated upstream
      width: 50%;
      &-head{
=======
      width: auto;
      &-head {
>>>>>>> Stashed changes
>>>>>>> Stashed changes
        font-size: 16px;
        font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
        margin: 0;
        padding: 0;
      }
      &-texts {
        margin: 0;
        padding: 0;
        &-1 {
         line-height: 1.4em;
          margin: 16px 0px 0px; 
          list-style: none;
          .t {
            text-decoration: none;
            color:rgba(255, 255, 255, 0.616);
          }
        }
<<<<<<< Updated upstream
=======
<<<<<<< Updated upstream
        &-twiiter-logo[target="_blank"]:after{
          height: 16px;
          width: 21px;
=======
>>>>>>> Stashed changes
      }
      &-logos {
        margin-top: 20px;
        &-twitter {
          font-size: 30px;
          text-decoration: none;
          color: white;
          margin-right: 10px;
        }
        &-facebook {
          font-size: 30px;
          text-decoration: none;
          color: white;
<<<<<<< Updated upstream
=======
>>>>>>> Stashed changes
>>>>>>> Stashed changes
        }
      }
    }
    &-full-width {
      margin-top: 18px;
      padding-right: 40px;
<<<<<<< Updated upstream
      width: auto;
      &-head {
=======
<<<<<<< Updated upstream
      height: 166px;
      width: 100%;
      display: inline-block;
      &-head{
=======
      width: auto;
      &-head {
>>>>>>> Stashed changes
>>>>>>> Stashed changes
        font-size: 16px;
        margin: 0;
        padding: 0;
      }
      &-boxes {
        display: flex;
        &-inner {
          vertical-align: top;
          padding: 0px 10px 0px 0px;
        }
      }
    }
    &-footer-lang {
      width: auto;
      vertical-align: top;
      margin-top: 18px;
      width: auto;
      padding-right: 40px;
      display: inline-block;
      &-head {
        font-size: 16px;
        margin: 0;
        padding: 0;
<<<<<<< Updated upstream
=======
<<<<<<< Updated upstream
      }
=======
>>>>>>> Stashed changes
       }
    }
    
  }
  &-bottom-label {
    display: flex;
    width: 1080px;
    height: 100px;
    padding-top: 50px;
    position: relative;
    margin: 0 auto;
    &-text {
      font-size: 17px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
<<<<<<< Updated upstream
=======
>>>>>>> Stashed changes
>>>>>>> Stashed changes
    }
  }
}