.banner{
  margin-top: auto;
  width: 100%;
  height: 70px;
  background-color: red;
}
.footer{
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 20px 10px;
  display: block;
  box-sizing: border-box;
  bottom: 0;
  &-lists{
    width: 1020px;
    display: flex;
    margin: 0 auto;
    &-cell{
      width: auto;
      padding: 0px 40px 0px 0px;
      padding-left: 0px;
      display: inline-block;
      margin-top: 18px;
      width: 50%;
      &-head{
        font-size: 16px;
        font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
        margin: 0;
        padding: 0;
      }
      &-texts{
        margin: 0;
        padding: 0;
        &-1{
         line-height: 1.4em;
          margin: 16px 0px 0px; 
          list-style: none;
          .t{
            text-decoration: none;
            color:rgba(255, 255, 255, 0.616);
          }
       }
        &-twiiter-logo[target="_blank"]:after{
          height: 16px;
          width: 21px;
        }
      }
    }
    &-full-width{
      margin-top: 18px;
      padding-right: 40px;
      width: 43%;
      display: block;
      &-head{
        font-size: 16px;
        margin: 0;
        padding: 0;
      }
        &-inner{
          display: inline-block;
          vertical-align: top;
          width: 50%;
          padding: 0px 10px 0px 0px;
        }
        &-inner1{
          display: inline-block;
          vertical-align: top;
          width: 50%;
          padding: 0px 10px 0px 0px;
        }
    }
    &-footer-lang{
      width: auto;
      vertical-align: top;
      margin-top: 18px;
      width: 100%;
      padding-right: 40px;
      display: inline-block;
       &-head{
        font-size: 16px;
        margin: 0;
        padding: 0;
       }
      }
  .footer-header-bottom{
    background-color: #fff;
    width: 1020px;
    margin: 30px auto 20px;
    }
   }
}