@import "reset";
@import "mixin/form";
@import "toppage-header";
@import "toppage-footer";
@import "signup0";
@import "signup1";
@import "signup2";
@import "signup3";
@import "signup4";
@import "signup5";
@import "signout";
@import "signout_btn";
@import "signup_header";
@import "signup_footer";
@import "items.show.scss";
@import "index.scss";
@import "user.profile.scss";
@import "footer-icon.scss";
@import "user.mypage.scss";
@import "confirm";
@import "sidebar";
@import "new";
@import "edit_address";
@import "logo_header";
@import "toppage-footer";
@import "toppage-header";
@import "exhibit";
@import "exhibit-header";
@import "exhibit-footer";
@import "footer";
@import "cards/new";
@import "cards/registration";
@import "gretel.scss";
@import "exhibiting.scss";

html{
  background-color: #f5f5f5;
}

body {
  // width: 100vw;
  // height: 100vh;
  background-color: #f5f5f5;
}

.error{
  color: red;
}