.footer-log {
  position: relative;
  cursor: pointer;
  &__circle {
    height: 160px;
    width: 160px;
    background: #ea352d;
    border-radius: 50%;
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 10;
    &__link {
      text-decoration: none;
      color: #fff;
      &__text {
        font-size: 22px;
        margin: 32px 0 0;
        text-align: center;
      }
      &__icon {
        margin: 8px 0 0;
        font-size: 60px;
        position: absolute;
        bottom: 35px;
        left: 50px;
      }
    }
  }
}