.footer-footer {
  height: 220px;
  .footer-in {
    padding-top: 40px;
    height: 140px;
    padding-bottom: 40px;
    .footer-privacy {
      padding: 40px;
      .footer-mercari {
        width: 120px;
        font-size: 12px;
        margin-left: 500px;
        bottom: 40px;
        position: relative;
      }
      .footer-riyou {
        font-size: 12px;
        bottom: 58px;
        margin-left: 630px;
        margin-right: 630px;
        text-align: center;
        position: relative;
      }
      .footer-hyouki {
        font-size: 12px;
        bottom: 76px;
        margin-left: 740px;
        margin-right: 487px;
        position: relative;
      }
    }
  }
  .footer-logo {
    font-size: 10px;
    height: 65px;
    width: 80px;
    margin-top: 40px;
    padding-left: 680px;
    bottom: 160px;
    text-align: center;
    position: relative;
  }
  .mercari {
    font-size: 17px;
    margin-left: 680px;
    bottom: 170px;
    position: relative;
  }
  .mercari2 {
    font-size: 11px;
    margin-left: 10px;
    margin-top: 8px;
    bottom: 200px;
    text-align: center;
    position: relative;
  }
}
.footer-bottom {
  margin-bottom: 373px;
}
.footer-mercari:hover {
  color: rgb(88, 86, 86);
}
.footer-riyou:hover {
  color: rgb(88, 86, 86);
}
.footer-hyouki:hover {
  color: rgb(88, 86, 86);
}