.line-top {
  background-color: #eee;
  height: 1px;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 115px;
}
.gretel-header {
  border-top: 1px #eee solid;
  font-size: 14px;
  margin-top: 10px;
  &__gre {
    margin-top: 10px;
    a {
      color: #333;
      text-decoration: none;
    }
    span {
      font-weight: 700;
    }
  }
}