.header {
  margin: 0 auto;
  padding:0;
  width: 100%;
  background-color:white;
  box-shadow: rgba(0,0,0,0.18)0px 2px 4px;
  position: relative;
  display: block;
    &-lists {
      margin: 0 auto;
      padding:0px 0px 0px;
      box-sizing: border-box;
      display: block;
    }
}