.header {
  background-color:rgb(255, 255, 255);
  box-shadow: rgba(0,0,0,0.18)0px 2px 4px;
  position: relative;
  z-index: 3;
    &-lists {
      width: 700px;
      margin: 0 auto;
      padding: 8px 0px 0px;
      &-top{
        display: flex;
        -webkit-box-pack: justify;
        &-left {
          -webkit-box-align: center;
          align-items: center;
          display: flex;
          height: 40px;
          margin-right: 45px;
          &-logo{
            color: inherit;
            text-decoration: none;
          }
        }
        .navbar{
          position: relative;
          width: 100%;
          &-search{
            background-color: rgb(245, 245, 245);
            font-size: 16px;
            height: 40px;
            line-height: 1.4em;
            position: relative;
            width: 100%;
            -webkit-appearance: none;
            border-width: 1px;
            border-style: solid;
            border-color: rbg(204,204,204);
            border-image: initial;
            border-radius: 4px;
            outline: none;
            padding: 0px 50px 0px 10px;
            transition: all 0.3s ease-out 0s;
          &-button{
            background-color: transparent;
            cursor: pointer;
            height: 40px;
            width: 40px;
            position: absolute;
            right: 0px;
            top: 0px;
            padding: 0px;
            border-width: 1px;
            border-style: solid;
            border-color: rbg(204,204,204);
            border-image: initial;
            border-radius: 4px;
            &-mark{
              max-width: 100%;
              max-height: 100%;
              color: rgb(34, 34, 34);
              height: 14px;
              margin-top: 2px;
              width: 14px;
              }
            }
           }
          }
         }
        &-low{ 
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          margin-top: 8px;
            &-left{
              display: flex;
              margin-left: -3px;
              &-categorybox{
                cursor: pointer;
                height: 44px;
                position: relative;
                z-index: 3;
                padding-left: 0px 10px;
                .category{
                  display: block;
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 36px;
                  white-space: nowrap;
                  &-logo{
                    max-width: 100%;
                    max-height: 100%;
                    color: rgb(234, 53, 45);
                    height: 12px;
                    margin-right: 4px;
                  }
                }
              }
              &-brandbox{
                cursor: pointer;
                height: 44px;
                position: relative;
                z-index: 3;
                padding-left: 0px 10px;
                .brand{
                  display: block;
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 36px;
                  white-space: nowrap;
                  &-logo{
                    max-width: 100%;
                    max-height: 100%;
                    color: rgb(234, 53, 45);
                    height: 12px;
                    margin-right: 4px;
                  }
                }
               }
              }
            &-right{
              display: flex;
              &-newmenberbox {
                text-align: center;
                .newmember{
                  background-color: rgb(234, 53, 45);
                  color: rgb(255,255,255);
                  display: block;
                  font-size: 14px;
                  border-width: 1px;
                  border-style: solid;
                  border-right-color: rgb(234, 53, 45);
                  border-image: initial;
                  border-radius: 4px;
                  padding: 8px 10px;
                 }
                }
              &-loginbox{
                  text-align: center;
                  margin-left: 11px;
                  .login{
                    background-color: rgb(255, 255, 255);
                    color: rgb(0, 149, 238);
                    display: block;
                    font-size: 14px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgb(0, 149, 238);
                    border-image: initial;
                    border-radius: 4px;
                    padding: 8px 10px;
                    transition: all 0.3s ease-out 0s;
                  }
              }
              }
            }
          }
        }
.camera{
  padding-top: 15px;
  text-align: center;
  height: 80px;
  background-color: rgb(234, 53, 45);
  border-radius: 50%;
}