// @import 'font-awesome-sprockets';
// @import 'font-awesome';

.items-show {
  background-color: #fff;
  margin: 40px auto 0;
  width: 700px;
  padding: 24px 40px 40px;
  &__name {
    font-size: 22px;
    text-align: center;
    line-height: 1.4;
    word-wrap: break-word;
  }
  &__comment {
    margin: 8px 0 0!important;
    font-size: 14px!important;
    color: #888!important;
    line-height: 1.5;
  }
  &__description {
    margin: 16px 0 0;
    display: flex;
    &__left {
      
      background: #fafafa;
      &__main {
        &__image {
          width: 300px;
          height: 300px;
        }
      }
      &__many {
        margin-top: 0;
        padding: 0;
        &__top {
          display: flex;
          &__image {
            height: 60px;
            width: 60px;
          }
        }
        &__low {
          display: flex;
          &__image {
            height: 60px;
            width: 60px;
          }
        }
      }
    }
    &__table {
      height: 420px;
      margin: 0 auto;
      width: 300px;
      border: solid #f5f5f5 1px;
      color: #333;
      font-size: 14px;
      th {
        width: 39%;
        text-align: left;
        font-weight: 400;
        background: #fafafa;
        border: solid 1px #f5f5f5;
      }
      td {
        width: 61%;
        background: #fff;
        border: solid 1px #f5f5f5;
      }
      &__link {
        text-decoration: none;
        color: #333;
      }
      &__face {
        &__smile {
          color: rgb(230, 80, 120);
          margin-right: 15px;
        }
        &__normal {
          color: orange;
          margin-right: 15px;
        }
        &__bad {
          color: skyblue;
        }
      }
    }
  }
  &__price {
    display: flex;
    margin: 24px 0 0;
    text-align: center;
    display: block;
    &__yen {
      margin: 0 8px 0 0;
      font-size: 32px;
      font-weight: 600;
    }
    &__tax {
      font-size: 10px;
    }
    &__fee {
      font-size: 16px;
    }
  }
  &__deal {
    margin-top: 16px;
    display: block;
    font-size: 24px;
    background-color: red;
    line-height: 56px;
    text-align: center;
    font-weight: 600;
    &__box {
      text-decoration: none;
      color: #fff;
    }
  }
  &__comment {
    padding: 32px 0 0;
    line-height: 1.5;
    font-size: 18px;
    color: black;
    &__top {
      font-size: 18px;
      color: #333;
    }
    &__low {
      display: flex;
      justify-content: space-between;
      margin: 16px 0 0;
      &__left {
        display: flex;
        &__btn {
          font-size: 14px;
          padding: 8px 16px;
          border-radius: 40px;
          background-color: #f5f5f5;
          border: 1px solid #f5f5f5;
          text-decoration: none;
          color: #333;
          margin-right: 20px;
        }
      }
      &__right {
        &__btn {
          display: inline-block;
          color: #0099e8;
          text-decoration: none;
          font-size: 14px;
        }
      }
    }
  }
}

.items-show-page {
  margin: 24px auto 0;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  width: 770px;
  list-style: none;
  font-size: 14px;
  &__left {
    text-decoration: none;
    color: #0099e8;
  }
  &__right {
    text-decoration: none;
    color: #0099e8;
  }
}

.items-show-icon {
  margin: 24px auto;
  padding: 32px 40px 24px;
  width: 700px;
  background-color: white;
  &__box {
    display: flex;
    margin: 16px 0 0;
    justify-content: center;
    text-align: center;
    &__link {
      &__facebook {
        margin: 0 8px 8px 0;
        color: #385185;
        background-color: #fff;
      }
      &__twitter {
        margin: 0 8px 8px 0;
        color: #0099e8;
        background-color: #fff;
      }
      &__line {
        margin: 0 8px 8px 0;
        color: #00c137;
        background-color: #fff;
      }
      &__pinterest {
        margin: 0 0 8px;
        color: #aa262a;
        background-color: #fff;
      }
    }
  }
}

.itemshow {
  width: 770px;
  margin: 0 auto;
  color: #fff;
  &__title {
    font-size: 22px;
    margin: 24px 0 8px;
    &__link {
      text-decoration: none;
      color: #0099e8;
    }
  }
  &__top {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    &__box {
      background-color: white;
      height: 350px;
      width: 240px;
      color: #333;
      &__image {
        height: 240px;
        width: 240px;
      }
      &__desc {
        padding: 16px 16px 0;
        height: 3em;
        font-weight: 400;
        line-height: 1.5;
        &__detail {
          padding: 0 16px 16px 16px;
          display: flex;
          justify-content: space-between;
          &__price {
            font-size: 14px;
          }
          &__icon {
            &__btn {
              color: #333;
            }
          }
        }
      }
    }
  }
}

.items-show-footer {
  margin: 40px auto 0;
  background: #f5f5f5;
  border: 1px solid #eee;
  position: relative;
  padding: 16px 0;
  &__link {
    width: 700px;
    text-align: left;
    color: #333;
    font-size: 14px;
    list-style: none;
    display: flex;
    &__left {
      text-decoration: none;
      margin-left: 5px;
      color: #333;
    }
    &__center {
      text-align: center;
      margin-left: 10px;
    }
    &__right {
      text-decoration: none;
      font-weight: bold;
      margin-left: 15px;
      color: #333;
    }
  }
}

body {
  background-color: #f5f5f5;
}