#header {
  background-color: #123456;
  display: flex;
  height: 170px;
  align-items: center;
  justify-content: center;
}
.top_logo {
  margin: 0 auto;
  height: 100%;
  
}

footer {
  height: 230px;
  background-color: #123456;
  

}