// body {
//   background-color: #787878;
// }
$aruound-color: #eeeeee;
#header {
  background-color: $aruound-color;
  display: flex;
  height: 170px;
  align-items: center;
  justify-content: center;
  .top_logo {
  margin: 0 auto;
  height: 100%;
  
  }
}

.main {
  height: 500px;
  background-color: $aruound-color;
  padding: 0 350px 0 350px;
  .container {
    height: 250vh;
    background-color: white;
    padding: 0 40px 0 40px;
  }
}

.indispensable-tmp {
  display: flex;
  .sentence {
    margin-right: 10px;
  }
  .indispensable {
    background-color: red;
    color: white;
    border-radius: 4px;
  }
}
#img-cont {
  height: 300px;
  background-color: #fff;
  .img-form {
  height: 200px;
  background-color: #123456;
  }
}
#item-cont {
  height: 330px;
  background-color: #eeeeee;
}
#name {
  height: 50px;
  width: 100%;
  box-sizing: border-box;
}
#description {
  height: 150px;
  width: 100%;
  box-sizing: border-box;
}
.cont {
  padding: 20px 0 20px 0;
}
#item-cont2 {
  display: flex;

}
.blank {
  width: 45%;
}
select {
  height: 50px;
  width: 100%;
}
.rb {
  width: 100%;
}
#shipping-cont {
  display: flex;
}
#price-cont {
  display: flex;
}
.divide {
  display: flex;
  position: relative;
}
.p-box {
  height: 50px;
  width: 100%;
}
.pbleft {
  background-color: #123456;
}
.pbright {
  position: absolute;
  right: 0;
}
// #btn-cont {


// }
#ship-btn {
  width: 100%;
  height: 50px;
}
.btn-fs {
  font-size: 15px;
}
#ship-return {
  width: 40%;
  height: 50px;
  margin: auto;
}

footer {
  height: 230px;
  background-color: $aruound-color;
  display: flex;
  justify-content: center;
  align-items: center;
  .footer-logo {
    display: flex;
    justify-content: center;
  }
  .copyright {
    display: flex;
    justify-content: center;
  }

}
