// body {
//   background-color: #787878;
// }
$aruound-color: #eeeeee;
#header {
  background-color: $aruound-color;
  display: flex;
  height: 170px;
  align-items: center;
  justify-content: center;
  .top_logo {
  margin: 0 auto;
  height: 100%;
  
  }
}

.main {
  height: 500px;
  background-color: $aruound-color;
  padding: 0 350px 0 350px;
  .container {
    height: 250vh;
    background-color: white;
    padding: 0 40px 0 40px;
  }
}
.etc-cont {
  height: 100px;
  
}
#top-cont {
  text-align: center;
  padding-top: 40px;
}

.indispensable-tmp {
  display: flex;
  margin-top: 40px;
  .sentence {
    margin-right: 10px;
    
  }
  .indispensable {
    background-color: red;
    color: white;
    border-radius: 4px;
  }
}
#img-cont {
  height: 300px;
  background-color: #fff;
  .img-form {
  height: 200px;
  background-color: #123456;
  }
}
#item-cont {
  height: 330px;

}
#name {
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  font-size: 50%;
}
#name {
  font-size: 15px;
  padding-left: 10px;
}
#description {
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  padding: 10px;
}
.cont {
  padding: 0 0 40px 0;
  border-top: 1px solid #eeeeee ;
}
#item-cont2 {
  display: flex;

}
.blank {
  width: 45%;
  margin-top: 40px;
}
select {
  height: 50px;
  width: 100%;
}
.rb {
  width: 100%;
}
#shipping-cont {
  display: flex;
}
#price-cont {
  display: flex;
}

.p-box {
  height: 50px;
  width: 100%;
  position: relative;

  .divide {
    display: flex;

    
    
  }
}
.pbleft {
  background-color: #123456;
}
.pbright {
  position: absolute;
  right: 0;
}
#btn-cont {
  text-align: center;

}
#ship-btn {
  width: 100%;
  height: 50px;
  background-color: #f54343;
  color: white;
}
.btn-fs {
  font-size: 15px;
}
#ship-return {
  width: 40%;
  height: 50px;
  margin: 0 auto;
  background-color: #948f8f;
  color: white;
}

footer {
  height: 230px;
  background-color: $aruound-color;
  display: flex;
  justify-content: center;
  align-items: center;
  .footer-logo {
    display: flex;
    justify-content: center;
  }
  .copyright {
    display: flex;
    justify-content: center;
  }

}
