// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  overflow: auto;
  height: 100%;
}
.slide {
  height: 380px;
  background-color: #123456;
}
.category_tags {
  height: 180px;
  background-color: #098765;
    .tags {
      display: flex;
    }
}

.block {
  background-color: #103763;
  padding: 50px 190px 0 190px;

}

.block_top {
  display: flex;
  position: relative;

}
.item_categoly {
  font-size: 25px;
}
.more {
  position: absolute;
  font-size: 20px;
  right: 10px;
}
.contents {
  display: flex;
  flex-wrap: wrap;
  // margin: 0 190px 0 190px;

}

.content {
  height: 240px;
  width: 180px;
  margin: 7px 10px 7px 10px;

}
.image {
  height: 170px;
  width: 100%;
}
img {
  height: 100%;
  width: 100%;
  

}
.item_name {
  background-color: #826812;
  height: calc(100% - 170px);
  width: 100%;
}
