.header-temp{
  display: flex;
  justify-content: center;
  .header-template {
    height: 48px;
    margin: 40px;
    line-height: 48px;
  }
  .header-template-nav {
    padding: 30px 0 0 30px;
    text-align: center;
    &__list {
      &__status {
        width: 100px;
        min-width: 60px;
        color: #888;
        margin: 0 30px 0 0;
        font-size: 12px;
        position: relative;
        display: inline-block;
        .progress-status {
          @include status_circle;
          background-color: #ccc;
        }
        .progress-status::before {
          @include status_bar;
          background-color: #ccc;
          z-index: 0;
        }
        .progress-status-active::before {
          @include status_bar;
          background-color: red;
        }
        .progress-status-start {
          @include status_circle;
          background-color: red;
        }
        .progress-status-active {
          @include status_circle;
          background-color: red;
          z-index: 1;
        }
      }
      .active {
        color: red;
        z-index: 1;
      }
    }
  }
}
