.html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sign-up-header{
  height: 128px;
  width: 100%;
  background-color:yellow;
  overflow:hidden;
  .head-logo{
    height: 48px;
    width: 185px;
    margin: 40px auto ;
    background-color: white;
    display: flex;
  }
}

.sign-up-main{
  height: 400px;
  width: 100%;
  background-color:blue;
  .sign-up-area{
    height: 400px;
    width: 700px;
    margin: 0 auto;
    .sign-up-area-top{
      height: 100px;
      background-color: cornflowerblue;
      text-align: center;
      line-height: 100px;
    }
    .sign-up-area-bottom{
      background-color: red;
      height: 259px;
      width: 700px;
      margin: 0 auto;
      border-top: solid 1px;
      padding: 40px 0 0 0;
      .sign-up-btn{
        background-color: white;
        width: 350px;
        height: 50px;
        margin: 0 auto 20px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        &__text{
          margin: 0 auto;
        }
      }
    }
  }
}

.sign-up-footer{
  height: calc(100vh - 528px);
  width: 100%;
  background: chartreuse;
  align-items: center;
  .rules{
    display: flex;
    justify-content: center;
    .rule{
      .
    
    }
  }
 
    .foot-logo{

    
  }
}