.user-mypage {
  width: 700px;
  margin: 24px auto 0;
  &__main {
    width: 700px;
    .mypage-top {
      height: 170px;
      padding: 20px;
      background: image-url("bgc.jpg");
      background-size: cover;
      text-align: center;
      &__link {
        text-decoration: none;
        color: #333;
        figure {
          .mypage-top-icon {
            border-radius: 50%;
          }
        }
        .mypage-top-name {
          margin: 8px 0 0;
          font-size: 14px;
          font-weight: 500;
        }
        .mypage-top-link {
          margin: 8px 0 0;
          font-size: 14px;
          
          &__estimate {
            display: inline-block;
          }
          &__count {
            display: inline-block;
          }
        }
      }
    }
  }
}