.user-profile-view {
  width: 700px;
  margin: 24px auto 0;
  padding: 0 0 40px;
  .user-profile {
    width: 700px;
    &__box {
      background-color: #fff;
      &__title {
        border-bottom: 1px solid #f5f5f5;
        text-align: center;
        font-size: 22px;
        letter-spacing: 2px;
        padding: 8px 24px;
        line-height: 1.4;
        font-weight: bold;
      }
    }
    .profile-form {
      &__icon {
        padding: 72px 16px 24px;
        background: image-url("bgc.jpg");
        background-size: cover;
        display: flex;
        justify-content: center;
        &__figure {
          
          margin: 0;
          padding: 0;
          img {
            border-radius: 50%;
          }
        }
        &__name {
          width: 186px;
          margin: 10px 0 0 8px;
          height: 28px;
          border-radius: 4px;
          padding: 10px 16px 8px;
          font-size: 14px;
          background: #fff;
          border: solid 1px #ccc;
        }
      }
      &__textarea {
        padding: 40px 16px;
        &__box {
          min-height: 216px;
          display: block;
          max-width: 100%;
          width: 100%;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          line-height: 1.5;
        }
        #button {
          margin: 16px 0 0;
          background-color: #ea352d;
          border: #ea352d;
          color: #fff;
          display: block;
          line-height: 48px;
          font-size: 14px;
          width: 100%;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
}