<body>
  <header>
    <div class= brand>
      <div class= brand__icon>
      logo
      </div>
      mercari
      <div class= brand__name>
      </div>
    </div>
  </header>
  <main class=sign-up>
    <div class= sign-up__top>
    </div>
    <div class= sign-up__bottom>
    </div>
  </main>
  <footer>
    <div>
      <div>プライバシーポリシー</div>
      <div>メルカリ利用規約</div>
      <div>特定取引に関する表記</div>
    </div>
    <div>
      <div></div>
      <div></div>
    </div>
  </footer>
</body>