%footer.ex-footer
  %div
    %div
      = link_to "プライバシーポリシー", "#", id:'ex-policy'
      = link_to "利用規約", "#", id:'ex-rule'
      = link_to "特定商取引に関する表記", "#", id:'ex-low'
    %div
      .ex-footer-logo
        = link_to("root", class: 'footer-link') do
          %svg{:viewBox => "0 0 147.09 129.96"}>
          \&#x3000;x="0px" y="0px" width="80px" height="80px"&gt;
          %defs
            :css
              .cls-3,.cls-4{fill:#231815;stroke-miterlimit:10;opacity:0.19;}.cls-1{stroke:#fff;}.cls-4{font-size:36px;stroke:#231815;font-family:YuGo-Bold-83pv-RKSJ-H, YuGothic;}
          %title &#x30A2;&#x30BB;&#x30C3;&#x30C8; 13
          %g{"data-name" => "レイヤー 4", :id => "レイヤー_4"}
            %g{"data-name" => "レイヤー 3", :id => "レイヤー_3-4"}
              %polygon.cls-3{:points => "71.54 83.5 35.63 62.77 35.63 21.31 71.54 0.58 107.45 21.31 107.45 62.77 71.54 83.5"}
              %polyline.cls-3{:points => "35.63 21.31 71.54 42.04 107.45 21.31"}
              %polyline.cls-3{:points => "71.54 83.5 71.54 49.36 71.54 42.04"}
              %line.cls-3{:x1 => "71.54", :x2 => "35.63", :y1 => "52.41", :y2 => "31.67"}
              %line.cls-3{:x1 => "107.45", :x2 => "71.54", :y1 => "33.2", :y2 => "50.88"}
              %text.cls-4{:transform => "translate(0.5 117.04)"} Fmarket
    .ex-copyright
      \&#xA9;&#xFE0E;&#x30B3;&#x30D4;&#x30FC;&#x30E9;&#x30A4;&#x30C8;
