.footer-log
  = link_to new_item_path, class: :"footer-log__circle__link" do
    .footer-log__circle
      %h1.footer-log__circle__link__text 出品
      %span.fas.fa-camera.footer-log__circle__link__icon