
    <%# <aside class="banner">
      <div class="banner-image">
      </div>
    </aside> %>
    <footer class="footer">
      <div class="footer-lists">
        <div class="footer-lists-cell">
          <h2 class="footer-lists-cell-head">メルカリについて</h2>
            <ul class="footer-lists-cell-texts">
              <li class="footer-lists-cell-texts-1"><a href="#" class="t">会社概要（運営会社)</a></li>
              <li class="footer-lists-cell-texts-1"><a href="#" class="t">採用情報</a></li>
              <li class="footer-lists-cell-texts-1"><a href="#" class="t">プレスリリース</a></li>
              <li class="footer-lists-cell-texts-1"><a href="#" class="t">公式ブログ</a></li>
              <li class="footer-lists-cell-texts-1"><a href="#" class="t">メルカリロゴ利用ガイドライン</a></li>
            </ul>
            <div class="footer-lists-cell-logos">
              <a href="https://twitter.com/mercari_jp" target="_blank" class="footer-lists-cell-logos-twitter">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.facebook.com/mercarijp" target="_blank" class="footer-lists-cell-logos-facebook">
                <i class="fab fa-facebook-square"></i>
              </a>
            </div>
        </div>
        <div class="footer-lists-cell">
          <h2 class="footer-lists-cell-head">ヘルプ＆ガイド</h2>
          <ul class="footer-lists-cell-texts">
            <li class="footer-lists-cell-texts-1"><a href="#" class="t">らくらくメルカリ便</a></li>
            <li class="footer-lists-cell-texts-1"><a href="#" class="t">ゆうゆうメルカリ便</a></li>
            <li class="footer-lists-cell-texts-1"><a href="#" class="t">大型メルカリ便</a></li>
            <li class="footer-lists-cell-texts-1"><a href="#" class="t">車体取引ガイド</a></li>
            <li class="footer-lists-cell-texts-1"><a href="#" class="t">メルカリあんしん・あんぜん宣言！</a></li>
            <li class="footer-lists-cell-texts-1"><a href="#" class="t">偽ブランド品撲滅への取り組み</a></li>
            <li class="footer-lists-cell-texts-1"><a href="#" class="t">メルカリボックス</a></li>
          </ul>
         </div>
        <div class="footer-lists-full-width">
          <h2 class="footer-lists-full-width-head">プライバシーと利用規約</h2>
          <div class="footer-lists-full-width-boxes">
            <div class="footer-lists-full-width-boxes-inner">
              <ul class="footer-lists-cell-texts">
                <li class="footer-lists-cell-texts-1"><a href="#" class="t">プライバシーポリシー</a></li>
                <li class="footer-lists-cell-texts-1"><a href="#" class="t">メルカリ利用規約</a></li>
                <li class="footer-lists-cell-texts-1"><a href="#" class="t">あんしんスマホサポート制度に関する利用特約</a></li>
                <li class="footer-lists-cell-texts-1"><a href="#" class="t">コンプライアンスポリシー</a></li>
              </ul>
            </div>
            <div class="footer-lists-full-width-boxes-inner">
              <ul class="footer-lists-cell-texts">
                <li class="footer-lists-cell-texts-1"><a href="#" class="t">個人データの安全管理に係る基本方針</a></li>
                <li class="footer-lists-cell-texts-1"><a href="#" class="t">特定商取引に関する表記</a></li>
                <li class="footer-lists-cell-texts-1"><a href="#" class="t">資金決済法に基づく表示</a></li>
                <li class="footer-lists-cell-texts-1"><a href="#" class="t">法令順守と犯罪抑止のために</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-lists-footer-lang">
          <h2 class="footer-lists-footer-lang-head">国</h2>
          <ul class="footer-lists-cell-texts">
            <li class="footer-lists-cell-texts-1"><a href="#" class="t">日本</a></li>
            <li class="footer-lists-cell-texts-1"> <a href="#" class="t">United States</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom-label">
        <div class="footer-bottom-label-logo">
          <a href="https://www.mercari.com/jp/" class="">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.82 84.08" width="130px" height="70px">
            <defs>
              <style>.cls-1{fill:#fff;stroke:#b53d22;stroke-miterlimit:10;}
              </style>
            </defs>
            <title>アセット 4</title>
              <g id="レイヤー_2" data-name="レイヤー 2">
              <g id="レイヤー_1-2" data-name="レイヤー 1">
            <polygon class="cls-1" points="36.41 83.5 0.5 62.77 0.5 21.31 36.41 0.58 72.32 21.31 72.32 62.77 36.41 83.5"/>
            <polyline class="cls-1" points="0.5 21.31 36.41 42.04 72.32 21.31"/>
            <polyline class="cls-1" points="36.41 83.5 36.41 49.36 36.41 42.04"/>
            <line class="cls-1" x1="36.41" y1="52.41" x2="0.5" y2="31.67"/>
            <line class="cls-1" x1="72.32" y1="33.2" x2="36.41" y2="50.88"/>
            </g>
            </g>
            </svg>
          </a>
        </div>
        <p class="footer-bottom-label-text">&copy;Fmarket,Inc</p>
      </div>
    </footer>
    <%= yield %>
 </body>