%header.header
  .header-lists
    .header-lists-top
      .header-lists-top-left
        .header-lists-top-left-logo
          = link_to root_path do
            =image_tag "fmarket_logo_red.svg"
      %label
        .header-lists-top-navbar
          =search_form_for(@q, url: {controller: 'items', action: 'search'}, class:"header-lists-top-navbar-form") do |f|
            =f.text_field :name_cont, placeholder: "何かお探しですか？", class:"header-lists-top-navbar-form-search"
            =f.submit "Search", class: "header-lists-top-navbar-form-search-button"
            -# %i.fas.fa-search
            -# %input.header-lists-top-navbar-form-search{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}/
            -# %button.header-lists-top-navbar-form-search-button
             
    .header-lists-low
      .header-lists-low-left
        .header-lists-low-left-categorybox
          = link_to "#",class: :"category" do
            %i.fas.fa-list-ul
            カテゴリーから探す
        .header-lists-low-left-brandbox
          = link_to "#",class: :"brand" do
            %i.fas.fa-tag
            ブランドから探す
      .header-lists-low-right

        - if user_signed_in?
          .header-lists-low-right__signedin
            .header-lists-low-right__signedin-like_box
              =link_to "#", class: "like" do
                %i.far.fa-heart
                いいね！
            .header-lists-low-right__signedin-notice_box
              =link_to "#", class: "notice" do
                %i.far.fa-bell
                お知らせ
            .header-lists-low-right__signedin-todo_box
              =link_to "#", class: "todo" do
                %i.fas.fa-check
                やることリスト
            .header-lists-low-right__signedin-mypage_box
              =link_to "/users/mypage", class: "mypage" do
                %i.far.fa-user-circle
                マイページ
        - else
          .header-lists-low-right__signedout
            .header-lists-low-right__signedout-newmenberbox
              =link_to "/users/sign_up", class: "newmember" do
                新規会員登録
            .header-lists-low-right__signedout-loginbox
              =link_to "/users/sign_in", method: :get, class: "login" do
                ログイン

    = render  partial: "layouts/gretel"
