%aside.banner
  .banner-image
%footer.footer
  .footer-lists
    .footer-lists-cell
      %h2.footer-lists-cell-head メルカリについて
      %ul.footer-lists-cell-texts
        %li.footer-lists-cell-texts-1
          %a.t{:href => "#"} 会社概要（運営会社)
        %li.footer-lists-cell-texts-1
          %a.t{:href => "#"} 採用情報
        %li.footer-lists-cell-texts-1
          %a.t{:href => "#"} プレスリリース
        %li.footer-lists-cell-texts-1
          %a.t{:href => "#"} 公式ブログ
        %li.footer-lists-cell-texts-1
          %a.t{:href => "#"} メルカリロゴ利用ガイドライン
        %a.footer-lists-cell-texts-twitter-logo{:href => "https://twitter.com/mercari_jp", :target => "_blank"}
          %i.fab.fa-twitter
        %a.facebook-logo{:href => "https://www.facebook.com/mercarijp", :target => "_blank"}
          %i.fab.fa-facebook-square
    .footer-lists-cell
      %h2.footer-lists-cell-head ヘルプ＆ガイド
      %ul.footer-lists-cell-texts
        %li.footer-lists-cell-texts-1
          %a.t{:href => "#"} らくらくメルカリ便
        %li.footer-lists-cell-texts-1
          %a.t{:href => "#"} ゆうゆうメルカリ便
        %li.footer-lists-cell-texts-1
          %a.t{:href => "#"} 大型メルカリ便
        %li.footer-lists-cell-texts-1
          %a.t{:href => "#"} 車体取引ガイド
        %li.footer-lists-cell-texts-1
          %a.t{:href => "#"} メルカリあんしん・あんぜん宣言！
        %li.footer-lists-cell-texts-1
          %a.t{:href => "#"} 偽ブランド品撲滅への取り組み
        %li.footer-lists-cell-texts-1
          %a.t{:href => "#"} メルカリボックス
    .footer-lists-full-width
      %h2.footer-lists-full-width-head プライバシーと利用規約
      .footer-lists-full-width-boxes
        .footer-lists-full-width-boxes-inner
          %ul.footer-lists-cell-texts
            %li.footer-lists-cell-texts-1
              %a.t{:href => "#"} プライバシーポリシー
            %li.footer-lists-cell-texts-1
              %a.t{:href => "#"} メルカリ利用規約
            %li.footer-lists-cell-texts-1
              %a.t{:href => "#"} あんしんスマホサポート制度に関する利用特約
            %li.footer-lists-cell-texts-1
              %a.t{:href => "#"} コンプライアンスポリシー
        .footer-lists-full-width-boxes-inner
          %ul.footer-lists-cell-texts
            %li.footer-lists-cell-texts-1
              %a.t{:href => "#"} 個人データの安全管理に係る基本方針
            %li.footer-lists-cell-texts-1
              %a.t{:href => "#"} 特定商取引に関する表記
            %li.footer-lists-cell-texts-1
              %a.t{:href => "#"} 資金決済法に基づく表示
            %li.footer-lists-cell-texts-1
              %a.t{:href => "#"} 法令順守と犯罪抑止のために
    .footer-lists-footer-lang
      %h2.footer-lists-footer-lang-head 国
      %ul.footer-lists-cell-texts
        %li.footer-lists-cell-texts-1
          %a.t{:href => "#"} 日本
        %li.footer-lists-cell-texts-1
          %a.t{:href => "#"} United States
  .footer-header-bottom
    %a.footer-header-bottom-logo{:href => "https://www.mercari.com/jp/"}
      %svg{:height => "70px", :viewbox => "0 0 72.82 84.08", :width => "130px", :xmlns => "http://www.w3.org/2000/svg"}
        %defs
          :css
            .cls-1{fill:#fff;stroke:#b53d22;stroke-miterlimit:10;}
        %title アセット 4
        %g{"data-name" => "レイヤー 2", :id => "レイヤー_2"}
          %g{"data-name" => "レイヤー 1", :id => "レイヤー_1-2"}
            %polygon.cls-1{:points => "36.41 83.5 0.5 62.77 0.5 21.31 36.41 0.58 72.32 21.31 72.32 62.77 36.41 83.5"}
            %polyline.cls-1{:points => "0.5 21.31 36.41 42.04 72.32 21.31"}
            %polyline.cls-1{:points => "36.41 83.5 36.41 49.36 36.41 42.04"}
            %line.cls-1{:x1 => "36.41", :x2 => "0.5", :y1 => "52.41", :y2 => "31.67"}
            %line.cls-1{:x1 => "72.32", :x2 => "36.41", :y1 => "33.2", :y2 => "50.88"}
    %span.copyright
      %p
        %small ©Fmarket,Inc
= yield
